html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #333;
}

.sec {
  padding: 10rem 0;
}

.inner {
  max-width: 121.2rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.TopBanner {
  background: #008850;
  height: 16rem;
  overflow: hidden;
}
.TopBanner.on {
  height: 0;
  transition: height 0.4s;
}
.TopBanner .itm01 a {
  background-image: url(../../images/banner01.jpg);
}
.TopBanner .itm02 a {
  background-image: url(../../images/banner02.png);
}
.TopBanner .itm03 a {
  background-image: url(../../images/banner03.jpg);
}
.TopBanner .itm a {
  display: block;
  height: 16rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.TopBanner .dots {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 999;
  display: flex;
  gap: 8px;
}
.TopBanner .dots li {
  display: flex;
  align-items: center;
  width: 4px;
  height: 10px;
}
.TopBanner .dots li a {
  display: block;
  width: 4px;
  height: 5px;
  background: #f9f9f9;
  transition: height 0.4s;
}
.TopBanner .dots li.on a {
  height: 10px;
}
.TopBanner .close {
  position: absolute;
  top: 3rem;
  left: 50%;
  margin-left: 60.6rem;
  transform: translate(-100%, 0);
  z-index: 999;
}
.TopBanner .close .icon {
  color: #f9f9f9;
  font-size: 3.2rem;
  font-variation-settings: "wght" 200;
}

.Header {
  position: sticky;
  top: 0;
  z-index: 999;
}
.Header .header_wrap {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 0 8rem;
  height: 10rem;
  color: #f9f9f9;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
.Header .header_wrap .logo {
  display: block;
  width: 188px;
  height: 22px;
  background: url(../../images/logo01.png);
}
.Header.on .header_wrap {
  height: 8rem;
  background: rgb(255, 255, 255);
  color: #333;
}
.Header.on .header_wrap .logo {
  background: url(../../images/logo02.png);
}
.Header h1 {
  flex: 0 0 calc((100% - 121.2rem) / 2);
  min-width: 260px;
}
.Header .util {
  margin: 0 0 0 auto;
}
.Header .Gnb {
  line-height: 8rem;
}
.Header .Gnb > ul {
  display: flex;
}
.Header .Gnb > ul a {
  display: block;
  padding: 0 4rem 0 0;
  font-size: 1.8rem;
  font-weight: 500;
}

.MainVisual {
  position: relative;
}
.MainVisual .MainSlide .itm {
  height: calc(100vh - 16rem);
}
.MainVisual .MainSlide .itm.itm01 {
  background: url(../../images/visual01.jpg) no-repeat center center/cover;
}
.MainVisual .MainSlide .itm.itm02 {
  background: url(../../images/visual02.jpg) no-repeat center center/cover;
}
.MainVisual .MainSlide .itm .slogan {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 121.2rem;
  transform: translate(-50%, -50%);
  color: #f9f9f9;
  transition: 0.5s 0.3s;
}
.MainVisual .MainSlide .itm.on .slogan {
  color: tomato;
}
.MainVisual .arrows button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  color: #f9f9f9;
  border: none;
  background: transparent;
}
.MainVisual .arrows button.arrow_left {
  margin: 0 0 0 -60.6rem;
}
.MainVisual .arrows button.arrow_right {
  margin: 0 0 0 60.6rem;
}
.MainVisual .right_link {
  position: absolute;
  top: 15rem;
  left: 50%;
  margin: 0 0 0 60.6rem;
  transform: translate(-100%, 0);
  color: #f9f9f9;
  display: flex;
  flex-direction: column;
  z-index: 999;
}
.MainVisual .right_link li.on {
  color: tomato;
}
.MainVisual .right_link a {
  display: block;
  text-align: right;
}
.MainVisual .num {
  position: absolute;
  bottom: 10rem;
  left: 50%;
  margin: 0 0 0 -60.6rem;
  z-index: 999;
  color: #f9f9f9;
}/*# sourceMappingURL=style.css.map */