.Header {
    position: sticky;
    top: 0;

    // left: 0;
    // right: 0;
    .header_wrap {
        position: absolute;
        left: 0;
        right: 0;

        display: flex;
        // justify-content: space-between;
        align-items: center;

        padding: 0 8rem;
        height: 8rem;
        color: $light-color;

        background: rgba(0, 0, 0, 0.5);
    }


    &.on {
        .header_wrap {
            height: 8rem;
            background: rgba(255, 255, 255, 1);
        }

    }

    h1 {
        flex: 0 0 calc((100% - $default-size)/2);
        min-width: 260px;
    }

    .util {
        margin: 0 0 0 auto;
    }

    .Gnb {
        line-height: 8rem;

        &>ul {
            display: flex;

            a {
                display: block;
                padding: 0 4rem 0 0;
                font-size: 2rem;
            }
        }
    }
}